<div class="bg-circle-wrapper">
  <div class="bg-circle"></div>
</div>
<div class="main">
  <div class="vertical ">
    <div class="aboutUs ">
      <h3>{{ 'contactUsTitle' | translate }}<br>{{ 'contactUsTitle2' | translate }}</h3>
    </div>

    <div class="vertical-line-wrapper ">
      <div class="vertical-line "></div>
      <div class="text-content ">
        <h2 *ngIf="translate.currentLang === 'th'">
          {{aboutMeModel.title}}
        </h2>
        <h2 *ngIf="translate.currentLang === 'en'">
          {{aboutMeModel.titleEN}}
        </h2>
        <h3>{{ 'ourAddress' | translate }}</h3>
        <div class="spacer"></div>
        <div class="row">
          <a href="https://maps.app.goo.gl/LKMtaRR53CvZNz6S7" target="_blank" style="width: fit-content;">
            <img src="./assets/img/marker.png"
              style="width: 50px;height:50px;position: relative;margin-top: -20px;">
          </a>
          <span *ngIf="translate.currentLang === 'th'">{{aboutMeModel.address}}</span>
          <span *ngIf="translate.currentLang === 'en'">{{aboutMeModel.addressEN}}</span>
        </div>
        <br>
        <h3>{{ 'contactUs' | translate }}</h3>
        <div class="spacer"></div>
        <span>
          <a href="mailto:support@wetechmakers.co.th?subject=สอบถามข้อมูล&body=สวัสดีครับ/ค่ะ">
            <img src="https://cdn-icons-png.flaticon.com/512/561/561127.png" alt="email" width="24"></a>
            {{ 'email' | translate }}: {{aboutMeModel.email}}
          <br>
          <a href="tel:0812345678">
            <img src="https://cdn-icons-png.flaticon.com/512/126/126509.png" alt="Phone Call Icon" width="24"
              height="24"></a>{{ 'tel' | translate }}: {{aboutMeModel.telephone}}
        </span>
      </div>
    </div>
    <div class="vertical-line-wrapper " style="display: block;">
      <div class="text-content ">
        <h2>
          {{ 'maps' | translate }}
        </h2>
      </div>
      <!-- <div style="width: 100%;padding: 10px;background-color: var(--background-f9);border-radius: 20px;">
        <iframe width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.11616617217!2d100.6252268!3d13.7718675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29df03b138a95%3A0xde74db743007dfd8!2z4Lia4Lij4Li04Lip4Lix4LiXIOC4p-C4teC4p-C4seC4peC4ouC5jOC5gOC4l-C4hCDguIjguLPguIHguLHguJQ!5e0!3m2!1sth!2sth!4v1750143042789!5m2!1sth!2sth"
          height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div> -->
      <div class="div-img-map"></div>
      <img src="./../../../assets/img/map-wtm.png" alt="" class="img-map">
    </div>
  </div>
</div>
<app-go-to-top></app-go-to-top>
