<div class="main-product">
  <div class="div-title">
    <span class="title">รายละเอียดผลิตภัณฑ์</span>
  </div>
  <div class="div-content">
    <span class="title">{{model.title}}</span>
    <div class="text-content">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <h3>
        จุดเด่น “ถังก๊าซ LNG สำหรับรถบรรทุก”
      </h3>
      <span>
        เป็นถังที่ออกแบบพิเศษ สำหรับบรรจุก๊าซ LNG และเพื่อให้เหมาะกับการติดตั้ง รองรับใช้งานในประเทศไทย
        (สำหรับรถพวงมาลัยด้านขวา) โดยเราเลือกถังก๊าซของแบรนด์ผู้ผลิตชั้นที่มีประสบการณ์และเชี่ยวชาญสูง
        ด้านการวิจัยพัฒนาการออกแบบและผลิต ถังก๊าซหุ้มฉนวนอุณหภูมิต่ำ (cryogenic insulated (LNG) gas cylinder)
        สำหรับบรรจุก๊าซธรรมชาติเหลว หรือ LNG ที่ใช้ติดตั้งในรถยนต์ รถบรรทุก เรือขนส่งก๊าซทางทะเล และอื่น ๆ
        ซึ่งผ่านการทดสอบและได้รับรองมาตรฐานสากล หรือ ECER110 ซึ่งเป็นมาตรฐานของยุโรป ทำให้มั่นใจได้ว่ามีความปลอดภัย
        แข็งแรงแทนทาน ทนต่อแรงดันแรงกระแทกสูง ๆ ระหว่างการใช้งานรถบรรทุก
        <br>
        ถังก๊าซ LNG เป็นภาชนะสำหรับจัดเก็บก๊าซธรรมชาติเหลว มีโครงสร้าง 2 ชั้น (สุญญากาศ)
        และมีการหุ้มฉนวนที่อุณหภูมิต่ำที่ -162°C) ระหว่างโครงสร้างถังด้านในและด้านนอก ช่วยลดการสูญเสียความร้อน
        และเพิ่มประสิทธิภาพการกักเก็บก๊าซได้ดีกว่า นอกจากนั้น อัตราการระเหยของก๊าซปกติ (NER) ยังอยู่ในระดับต่ำ เพียง
        1.2-1.5% ต่อวัน เมื่อเทียบกับทั่วไปที่ 3% ต่อวัน จึงช่วยให้ประหยัดเชื้อเพลิงได้อย่างมีประสิทธิภาพ
      </span>
      <div class="spacer"></div>
    </div>
    <div class="text-content">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <h3>
        ส่วนประกอบของถังก๊าซ LNG (มาตรฐาน ECE R110)
      </h3>
      <span>
        เป็นถังที่ออกแบบพิเศษ สำหรับบรรจุก๊าซ LNG และเพื่อให้เหมาะกับการติดตั้ง รองรับใช้งานในประเทศไทย
        (สำหรับรถพวงมาลัยด้านขวา) โดยเราเลือกถังก๊าซของแบรนด์ผู้ผลิตชั้นที่มีประสบการณ์และเชี่ยวชาญสูง
        ด้านการวิจัยพัฒนาการออกแบบและผลิต ถังก๊าซหุ้มฉนวนอุณหภูมิต่ำ (cryogenic insulated (LNG) gas cylinder)
        สำหรับบรรจุก๊าซธรรมชาติเหลว หรือ LNG ที่ใช้ติดตั้งในรถยนต์ รถบรรทุก เรือขนส่งก๊าซทางทะเล และอื่น ๆ
        ซึ่งผ่านการทดสอบและได้รับรองมาตรฐานสากล หรือ ECER110 ซึ่งเป็นมาตรฐานของยุโรป ทำให้มั่นใจได้ว่ามีความปลอดภัย
        แข็งแรงแทนทาน ทนต่อแรงดันแรงกระแทกสูง ๆ ระหว่างการใช้งานรถบรรทุก
        <br>
        ถังก๊าซ LNG เป็นภาชนะสำหรับจัดเก็บก๊าซธรรมชาติเหลว มีโครงสร้าง 2 ชั้น (สุญญากาศ)
        และมีการหุ้มฉนวนที่อุณหภูมิต่ำที่ -162°C) ระหว่างโครงสร้างถังด้านในและด้านนอก ช่วยลดการสูญเสียความร้อน
        และเพิ่มประสิทธิภาพการกักเก็บก๊าซได้ดีกว่า นอกจากนั้น อัตราการระเหยของก๊าซปกติ (NER) ยังอยู่ในระดับต่ำ เพียง
        1.2-1.5% ต่อวัน เมื่อเทียบกับทั่วไปที่ 3% ต่อวัน จึงช่วยให้ประหยัดเชื้อเพลิงได้อย่างมีประสิทธิภาพ
      </span>
      <div class="spacer"></div>
    </div>
    <div class="text-content">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <h3>
        ส่วนประกอบของถังก๊าช LNG
      </h3>
      <div class="img-group">
        <div class="div-img-detail">
          <img src="./../../../assets/img/service-detail-mock-1.jpg" alt="" class="img-detail">
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="text-content">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <h3>
        คุณสมบัติพื้นฐาน
      </h3>
      <li>ขนาดบรรจุ : 1,000 ลิตร</li>
      <li>มาตรฐาน : ECE R110 </li>
      <li>วัสดุตัวถัง : สแตนเลส (ฉนวน 2 ชั้น)</li>
      <li>อายุการใช้งาน (เฉลี่ย) : 15 ปี ตามมาตรฐาน</li>
      <li>ระยะเวลาการเติมก๊าซ (เฉลี่ย) : 10-15 นาที</li>
      <li>ระยะทางที่รถวิ่งได้ (เฉลี่ย) : 1,400-1,600 กม. ต่อรอบ</li>
      <div class="spacer"></div>
    </div>
    <div class="text-content">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <h3>
        ประเภทการติดตั้ง “ถังก๊าซ LNG” แบ่งตามโครงสร้างได้ 3 แบบ
      </h3>
      <div class="div-install">
        <div class="row align-items-center">
          <div class="col-6">
            <img src="./../../../assets/img/service-detail-mock-2.jpg" alt="" class="img-detail">
          </div>
          <div class="col-6">
            <span>
              <b>1.)  LIGHT FRAME</b><br>เป็นการติดตั้งถังเปล่า ไม่มีโครงกันกระแทก
            </span>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-6 justify-content-end d-flex">
            <span>
              <b>2.)  SEMI-FULL FRAME</b><br>เป็นการติดตั้งโครงกันกระแทก ไม่มีการ์ดนิรภัย
            </span>
          </div>
          <div class="col-6">
            <img src="./../../../assets/img/service-detail-mock-3.jpg" alt="" class="img-detail">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-6">
            <img src="./../../../assets/img/service-detail-mock-4.jpg" alt="" class="img-detail">
          </div>
          <div class="col-6">
            <span>
              <b>3.)  FULL FRAME</b><br>เป็นการติดตั้งโครงกันกระแทก พร้อมการ์ดนิรภัย
            </span>
          </div>
        </div>

        <div class="img-group">
          <div class="div-img-detail">
            <img src="./../../../assets/img/service-detail-mock-5.png" alt="" class="img-detail">
          </div>
        </div>
      </div>

      <div class="spacer"></div>
    </div>

  </div>

  <div class="div-content">
    <span class="title">บริการของเรา</span>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="row div-group-service">
      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-install.png" alt="" class="service-icon">
            <span class="service-title">
              ติดตั้ง
            </span>
          </div>
          <span class="service-text">
            บริการรับติดแก๊ส LNG รถบรรทุก
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-maintain.png" alt="" class="service-icon">
            <span class="service-title">
              ตรวจสภาพ
            </span>
          </div>
          <span class="service-text">
            บริการรับตรวจเช็คสภาพ และซ่อมบำรุงระบบ
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-recomance.png" alt="" class="service-icon">
            <span class="service-title">
              จดทะเบียน
            </span>
          </div>
          <span class="service-text">
            บริการแนะนำการจดทะเบียน สำหรับรถใช้ก๊าช LNG
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service" >
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-sale.png" alt="" class="service-icon">
            <span class="service-title">
              จัดจำหน่าย
            </span>
          </div>
          <span class="service-text">
            บริการจัดจำหน่ายชุดอุปกรณ์ถังก๊าช ชิ้นส่วน และอะไหล่ต่างๆ
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-credit.png" alt="" class="service-icon">
            <span class="service-title">
              สินเชื่อ
            </span>
          </div>
          <span class="service-text">
            บริการให้คำปรึกษาด้านสินเชื่อสำหรับการติดตั้งแก๊ส
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-course.png" alt="" class="service-icon">
            <span class="service-title">
              อบรม
            </span>
          </div>
          <span class="service-text">
            บริการคอร์สฝึกอบรมเกี่ยวกับ LNG
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

    </div>
  </div>


</div>
