<div class="main-product">
  <div class="div-title">
    <span class="title">ผลิตภัณฑ์และบริการ</span>
  </div>
  <div class="div-content">
    <span class="title">ผลิตภัณฑ์ของเรา</span>
    <div class="row">
      <div class="product col-12 col-md-6 col-lg-6 d-flex" *ngFor="let i of productList; let idx = index;">
        <div class="card-product">
          <div class="img-product">
            <img src="{{i.imageUrl}}" alt="">
          </div>
          <div class="description">
            <span class="title">ECU และชุดอุปกรณ์ติดตั้ง (LNG Convertion)</span>
            <div class="spacer"></div>
            <button class="btn-bottom">
              <span>ดูเพิ่มเติม </span>
              <i class="material-icons">arrow_forward</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="div-content">
    <span class="title">บริการของเรา</span>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="row div-group-service">
      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-install.png" alt="" class="service-icon">
            <span class="service-title">
              ติดตั้ง
            </span>
          </div>
          <span class="service-text">
            บริการรับติดแก๊ส LNG รถบรรทุก
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-maintain.png" alt="" class="service-icon">
            <span class="service-title">
              ตรวจสภาพ
            </span>
          </div>
          <span class="service-text">
            บริการรับตรวจเช็คสภาพ และซ่อมบำรุงระบบ
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-recomance.png" alt="" class="service-icon">
            <span class="service-title">
              จดทะเบียน
            </span>
          </div>
          <span class="service-text">
            บริการแนะนำการจดทะเบียน สำหรับรถใช้ก๊าช LNG
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service" >
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-sale.png" alt="" class="service-icon">
            <span class="service-title">
              จัดจำหน่าย
            </span>
          </div>
          <span class="service-text">
            บริการจัดจำหน่ายชุดอุปกรณ์ถังก๊าช ชิ้นส่วน และอะไหล่ต่างๆ
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-credit.png" alt="" class="service-icon">
            <span class="service-title">
              สินเชื่อ
            </span>
          </div>
          <span class="service-text">
            บริการให้คำปรึกษาด้านสินเชื่อสำหรับการติดตั้งแก๊ส
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-course.png" alt="" class="service-icon">
            <span class="service-title">
              อบรม
            </span>
          </div>
          <span class="service-text">
            บริการคอร์สฝึกอบรมเกี่ยวกับ LNG
          </span>
        </div>

        <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
