<div class="main-product">
  <div class="div-title">
    <span class="title">{{ 'productAndService' | translate }}</span>
  </div>
  <div class="div-content">
    <span class="title">{{ 'ourProducts' | translate }}</span>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="div-equipment">
      <div class="equipment-bar col-3">
        <div class="box-item" *ngFor="let i of equipmentList; let idx = index;">
          <div class="item" [class.active]="isEquipmentSelect == i.code" (click)="viewDetail(i)">
            {{i.title}}
          </div>
        </div>
      </div>

      <div class="row box-detail-equipment ">
        <div class="col-12 col-lg-3">
          <div class="div-img">
            <img src="{{modelEquipment.imageUrl}}" alt="" class="img">
          </div>
        </div>
        <div class="col-12 col-lg-9 div-des">
          <span class="title">{{modelEquipment.title}}</span>
          <span class="des">{{modelEquipment.description}}</span>
        </div>
      </div>
    </div>
    <!--  <div class="row">
      <div class="product col-12 col-md-6 col-lg-6 d-flex" *ngFor="let i of productList; let idx = index;">
        <div class="card-product">
          <div class="img-product">
            <img src="{{i.imageUrl}}" alt="">
          </div>
          <div class="description">
            <span class="title">ECU และชุดอุปกรณ์ติดตั้ง (LNG Convertion)</span>
            <div class="spacer"></div>
            <button class="btn-bottom" (click)="gotoDetails(i)">
              <span>ดูเพิ่มเติม </span>
              <i class="material-icons">arrow_forward</i>
            </button>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <div class="div-content">
    <span class="title">{{ 'ourServices' | translate }}</span>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="row div-group-service">
      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-sale.png" alt="" class="service-icon">
            <span class="service-title">
              {{ 'proAndSerTitle1' | translate }}
            </span>
          </div>
          <span class="service-text">
            {{ 'proAndSerDes1' | translate }}
          </span>
        </div>

        <!-- <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div> -->
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-install.png" alt="" class="service-icon">
            <span class="service-title">
              {{ 'proAndSerTitle2' | translate }}
            </span>
          </div>
          <span class="service-text">
            {{ 'proAndSerDes2' | translate }}
          </span>
        </div>

        <!-- <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div> -->
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-maintain.png" alt="" class="service-icon">
            <span class="service-title">
              {{ 'proAndSerTitle3' | translate }}
            </span>
          </div>
          <span class="service-text">
            {{ 'proAndSerDes3' | translate }}
          </span>
        </div>

        <!-- <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div> -->
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-recomance.png" alt="" class="service-icon">
            <span class="service-title">
              {{ 'proAndSerTitle4' | translate }}
            </span>
          </div>
          <span class="service-text">
            {{ 'proAndSerDes4' | translate }}
          </span>
        </div>

        <!-- <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div> -->
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-course.png" alt="" class="service-icon">
            <span class="service-title">
              {{ 'proAndSerTitle5' | translate }}
            </span>
          </div>
          <span class="service-text">
            {{ 'proAndSerDes5' | translate }}
          </span>
        </div>

        <!-- <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div> -->
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
        <div class="card-service">
          <div class="service-head">
            <img src="./../../../assets/icons/icon-credit.png" alt="" class="service-icon">
            <span class="service-title">
              {{ 'proAndSerTitle6' | translate }}
            </span>
          </div>
          <span class="service-text">
            {{ 'proAndSerDes6' | translate }}
          </span>
        </div>

        <!-- <div class="service-arrow">
          <button class="goto">
            <i class="material-icons icon-btn-sevice">arrow_forward</i>
          </button>
        </div> -->
      </div>

    </div>
  </div>

  <div class="div-content">
    <span class="title">{{ 'ourWork' | translate }}</span>
    <div class="row">
      <div class="product col-12 col-md-6 col-lg-6 d-flex" *ngFor="let i of performanceList; let idx = index;">
        <div class="card-performance">
          <div class="img-performance">
            <img src="{{i.imageUrl}}" alt="">
          </div>
          <div class="description">
            <span class="title" *ngIf="translate.currentLang === 'th'">{{i.title}}</span>
            <span class="title" *ngIf="translate.currentLang === 'en'">{{i.titleEN}}</span>
            <div class="spacer"></div>
            <button class="btn-bottom" (click)="gotoPerformanceDetails(i.code)">
              <span>{{ 'viewMore' | translate }} </span>
              <i class="material-icons">arrow_forward</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
