<app-header></app-header>
<div class="vertical ">
    <div class="aboutUs ">
        <h3>เกี่ยวกับเรา</h3>

    </div>



    <div class="vertical-line-wrapper ">

        <div class="vertical-line "></div>
        <div class="text-content ">
            <h2>
                We Tech Makers Co., Ltd.
            </h2>
            <div class="spacer"></div>
            <span>
                จดทะเบียนก่อตั้งเมื่อวันที่ 4 มิถุนายน 2568 ด้วยทุนจดทะเบียน 1 ล้านบาท
                โดยกลุ่มวิศวกรและผู้เชี่ยวชาญด้านพลังงาน ที่มีเป้าหมายร่วมกันในการผลักดันการใช้พลังงานสะอาดในประเทศไทย
                จากจุดเริ่มต้นเล็ก ๆ ในกรุงเทพมหานคร
                บริษัทได้เริ่มต้นด้วยการให้คำปรึกษาและติดตั้งระบบก๊าซในโรงงานอุตสาหกรรม
                และได้พัฒนาเทคโนโลยีการแปลงพลังงานอย่างต่อเนื่อง เพื่อยกระดับมาตรฐานการใช้พลังงานของลูกค้าให้ปลอดภัย
                คุ้มค่า
                และเป็นมิตรต่อสิ่งแวดล้อม
            </span>
        </div>
    </div>



    <div class="text-content">
        <div class="spacer"></div>
        <h3>
            วิสัยทัศน์ (Vision)
        </h3>
        <div class="spacer"></div>

        <span>
            มุ่งมั่นเป็นผู้นำในการให้บริการระบบพลังงานสะอาดและเทคโนโลยีก๊าซธรรมชาติเหลว (LNG) ที่ได้มาตรฐานระดับสากล
            เพื่อสนับสนุนอุตสาหกรรมไทยให้เติบโตอย่างยั่งยืน
        </span>
        <div class="spacer"></div>
    </div>

    <div class="text-content">
        <h3>
            พันธกิจ (Mission)
        </h3>
        <div class="spacer"></div>
        <li>ให้บริการติดตั้งระบบก๊าซธรรมชาติเหลว (LNG) ที่ปลอดภัย ทันสมัย และมีประสิทธิภาพ</li>
        <li>คัดสรรและจัดจำหน่ายอุปกรณ์แปลงก๊าซคุณภาพสูงแก่ภาคอุตสาหกรรม</li>
        <li>สนับสนุนภาคการผลิตให้สามารถเปลี่ยนผ่านสู่พลังงานสะอาด</li>
        <li>พัฒนาองค์ความรู้และทักษะของทีมงานเพื่อส่งมอบงานที่มีมาตรฐานสูงสุด</li>
    </div>


    <div class="spacer"></div>

    <div class="vertical-line-wrapper">
        <div class="vertical-line "></div>
        <h3>ผู้บริหาร</h3>
    </div>

    <div class="manager-grid-container">
        <div class="manager-contain">
            <img class="manager-contain-img" src="assets/img/manager-1.png" alt="Manager">
            <h4 class="text-content-manager">Waiwit Udayachaerm</h4>
            <h4 class="text-content-manager">ประธานกรรมการบริหาร (CEO)</h4>
        </div>

         <div class="manager-contain">
            <img class="manager-contain-img" src="assets/img/manager-1.png" alt="Manager">
            <h4 class="text-content-manager">Waiwit Udayachaerm</h4>
            <h4 class="text-content-manager">ประธานกรรมการบริหาร (CEO)</h4>
        </div>
       
        
    </div>

    <div class="spacer"></div>
    <div class="vertical-line-wrapper">
        <div class="text-content ">
            <h3>
                บริการครบจบที่เดียว (One Stop Service)
            </h3>
            <span>
                <div class="spacer"></div>
                <li>ติดแก็ส LNG รถบรรทุก</li>
                <li>ตรวจเช็คสภาพ ซ่อมบำรุง</li>
                <li>แนะนำการจดทะเบียนรถใช้ก๊าซ LNG</li>
                <li>จำหน่ายชุดอุปกรณ์ถังก๊าซ ชิ้นส่วน อะไหล่</li>
                <li>สินเชื่อติดถังแก็ส</li>
                <li>คอร์สฝึกอบรมเกี่ยวกับ LNG</li>

            </span>
        </div>

    </div>
    <img class="fixedimg" src="assets/img/about-1.png">
    <div class="spacer"></div>


</div>