<div class="footer">
  <div class="main-filter">
    <div class="row">
      <div class="col-3 div-menu-footer">
        <span class="title">
          บริการของเรา
        </span>
        <div class="sub-menu">
          <span class="menu">
            footer works!
          </span>
          <span class="menu">
            footer works!
          </span>
          <span class="menu">
            footer works!
          </span>
          <span class="menu">
            footer works!
          </span>
        </div>
      </div>
      <div class="col-3 div-menu-footer">
        <div class="sub-menu">
          <a class="title">
            หน้าแรก
          </a>
          <a class="title">
            ข่าวสารและกิจกรรม
          </a>
          <a class="title">
            ผลิตภัณฑ์และบริการ
          </a>
          <a class="title">
            เกี่ยวกับเรา
          </a>
          <a class="title">
            ติดต่อเรา
          </a>
        </div>
      </div>
      <div class="col-3 div-menu-footer">
        <span class="title">
          ติดต่อเรา
        </span>
        <div class="sub-menu">
          <span class="menu">
            52/1 ซอยลาดพร้าว 83 (จิตต์อารีย์) ถนนลาดพร้าว แขวงวังทองหลาง เขตวังทองหลาง กรุงเทพมหานคร 10310
          </span>
          <br>
          <span class="menu">
            tel: 020000000
          </span>
        </div>
      </div>
      <div class="col-3 div-menu-footer justify-content-end">
        <div class="div-logo">
          <img src="./assets/img/logoMain.png" alt="" class="logo-footer">
          <span class="text-logo">we tech makers</span>
        </div>

      </div>
    </div>


  </div>
  <div class="bottom-footer">
    <span class="menu">Copyright 2025 © We Tech Makers Co.,Ltd.</span>
  </div>
</div>
