<div class="main">
  <!-- <div class="bg-circle"></div> -->

  <div class="bg">
    <div class="content-main">
      <div class="div-top">
        <div class="left">
          <img src="./../../../assets/img/logoMain.png" alt="" class="logo">
          <span class="title">We Tech Makers</span>
        </div>
        <div class="right">เนื้อหาฝั่งขวา (ยังคิดไม่ออก)</div>
      </div>
    </div>
  </div>
  <div class="content">

    <div class="content-1">
      <div class="div-content">
        <div class="row">
          <div class="col-12 ">
            <div class="card-who-we-tech">
              <div class="col-12 col-md-6">
                <div class="div-img">
                  <img src="./../../../assets/img/logoMain.png" alt="">
                </div>
              </div>
              <div class="col-12 col-md-6 text-tab d-flex flex-column">
                <h2>
                  We Tech Makers คือใคร?
                </h2>
                <div class="spacer"></div>
                <span class="c-article">
                  เจ้าของเทคโนโลยีและผู้พัฒนาโปรแกรมควบคุมระบบเชื้อเพลิงผสมอย่างเต็มรูปแบบด้วย <b>ประสบการณ์กว่า
                    20ปี</b>
                  ในภาคขนส่ง อุตสาหกรรม และเครื่องผลิตไฟฟ้าทั่วโลก
                  เราพัฒนาเทคโนโลยีที่สามารถทดแทนการใช้ดีเซลได้สูงสุดถึง
                  80% และเป็นหนึ่งในไม่กี่รายของโลกที่แก้ปัญหาการชิงจุดระเบิด(pre-ignition) ได้สำเร็จ
                  โดยระบบของเราใช้งานง่าย
                  ดูแลสะดวก ด้วยกล่องควบคุมอัจฉริยะที่เราออกแบบมาเฉพาะสำหรับเชื้อเพลิงผสม ให้การเผาไหม้สมบูรณ์
                  ลดต้นทุนการใช้งาน และบำรุงรักษาอีกทั้งยังผ่านการรับรองมาตรฐานระดับโลก
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-1" style="background-color: aliceblue;">
      <div class="div-content">
        <div class="row">
          <div class="col-12 ">
            <div class="card-who-we-tech">

              <div class="col-12 col-md-6 text-tab d-flex flex-column">
                <h2>
                  LNG คืออะไร?
                </h2>
                <div class="spacer"></div>
                <span class="text-tab">
                  LNG (Liquefied Natural Gas) หรือก๊าชธรรมชาติเหลว คือ ก๊าชธรรมชาติที่ถูกทำให้เย็นลงจนถึงอุณหภูมิประมาณ -160
                  องศาเซลเซียส เพื่อเปลี่ยนสถานะจากก๊าชมาเป็นของเหลว
                  โดยกระบวนการนี้ช่วยให้ ลดปริมาตรลงได้ถึงประมาณ 600 เท่า
                  ทำให้การขนส่งและจัดเก็บมีความสะดวกและประหยัดพื้นที่มากยิ่งขึ้น
                </span>
                <span class="c-article text-tab">
                  ในปัจจุบันเชื่อเพลิง LNG เป็นพลังงานที่ถูกนำมาใช้งานทั่วโลก
                  ทั้งในประเทศที่ผลิตก๊าชธรรมชาติและประเทศที่ต้องนำเข้า
                  อีกทั้งยังมีบทบาทสำคัญในการขับเคลื่อนเศรษฐกิจของหลายประเทศ
                  ส่วนในประเทศไทยก๊าช LNG เริ่มเป็นที่สนใจและมีการใช้งานมากขึ้น ทั้งเป็นเชื้อเพลิงในการผลิตกระแสไฟฟ้า
                  ใช้ในภาคอุตสาหกรรม และใช้เป็นเชื้อเพลิงสำหรับรถยนต์(LNG) ซึ่งส่วนใหญ่ไทยมีการนำเข้า LNG จากต่างประเทศ
                  อาทิ เมียนมา กาตาร์ อินโดนีเซีย ออสเตรเลีย เป็นต้น เนื่องจาก LNG ที่ผลิตเองได้จากอ่าวไทยยังไม่เพียงพอ
                </span>
              </div>
              <div class="col-12 col-md-6">
                <div class="div-img-what-lng">
                  <img src="./../../../assets/img/lng-mock-2.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-1">
      <div class="div-content">
        <h2>
          คุณสมบัติเด่นของ LNG
        </h2>
        <div class="spacer"></div>
        <li>เป็นเชื้อเพลิงที่มีประสิทธิภาพสูง มีการเผาใหม้ที่สมบูรณ์ ไม่เกิดเขม่า</li>
        <li>เป้นมิตรต่อสิ่งแวดล้อม ลดการปล่อยคาร์บอนไดออกไซต์น้อยกว่า</li>
        <li>ด้วยคุณสมบัติที่เบากว่าอากาศจึงลอยขึ้นและแพร่กระจายในอากาศเมื่อเกิดการรั่วไหล</li>
        <li>ช่วยลดต้นทุนมากกว่าการใช้เชื้อเพลิงปิโตรเลียมอื่น ๆ เช่น น้ำมัน น้ำมันเตา</li>

      </div>
    </div>

    <div class="content-2">
      <div class="div-content">
        <div class="row div-title-why-lng">
          <h2 class="c-white">
            ทำไมต้อง LNG?
          </h2>
          <img src="./../../../assets/img/car.png" alt="" class="icon-car">
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="d-flex why-lng-container">
          <div class="card">
            แก้ปัญหา "มลพิษ" <br> เป็นมิตรต่อสิ่งแวดล้อม
          </div>
          <div class="card">
            "ราคาถูก" กว่าดีเซล บรรเทาวิกฤติน้ำมันแพง!
          </div>
          <div class="card">
            รถใช้ CNG <br> ครบอายุใช้งาน <br> ต้องถอดเปลี่ยนอุปกรณ์
          </div>
          <div class="card">
            "ลดการสึกหรอ" <br> ของเครื่องยนต์, <br> อุณหภูมิห้องโดยสาร <br> เย็นขึ้น
          </div>
        </div>
      </div>
    </div>

    <div class="content-1">
      <div class="div-content">
        <h2>
          ประโยชน์ของ LNG พลังงานทางเลือกแห่งอนาคต
        </h2>
        <div class="spacer"></div>
        <span class="c-article text-tab">LNG มีบทบาทสำคัญในหลายอุตสาหกรรม ซึ่งปัจจุบันประเทศไทยมีการใช้ประโยชน์จาก LNG
          ทั้งการผลิตกระแสไฟฟ้่า
          ใช้ในภาคอุตสาหกรรม เช่น การผลิตเหล็ก การผลิตปุ๋ย และยังถูกใช้เป็นเชื้อเพลิงสำหรับยานพาหนะ
          เช่น รถบรรทุกในภาคการขนส่ง ที่ใช้ในเชื้อเพลิงดีเซล หรือติดแก๊ส CNG อยู๋แล้ว สามารถเปลี่ยนมาใช้เป็น LNG ได้
          ซึ่งตอบโจทย์มากกว่าทั้งในแง่ของค่าใช้จ่ายที่ลดลงเนื่องจากราคา LNG ถูกเชื้อเพลิงประเภทอื่น
          อีกทั้งการเติมแต่ละรอบใช้เวลาไม่นานประมาณ 10-15 นาที และสามารถวิ่งได้ระยะทางไกลถึง 1,000-1,400 กม.
          จึงช่วยประหยัดเวลาได้มากขึ้น เป็นต้น
        </span>
        <span class="c-article text-tab">
          ข้อดีของ LNG คือ เป็น "พลังงานสะอาด" มีประสิทธิภาพสูง ทำให้เครื่องยนต์เกิดการเผาใหม้ที่สมบูรณ์
          เป็นมิตรต่อสิ่งแวดล้อม สามารถใช้แทนน้ำมันดีเซล หรือก๊าช CNGได้ และปลอดภันกว่า เพราะหากเกิดการรั่วไหล LNG
          ซึ่งเบากว่าอากาศจะระเหยเป็นไอและลอยขึ้นสู่ชั้นบรรยากาศอย่างรวดเร็ว โดยไม่เหลือการตกค้างใด ๆในน้ำหรือดิน
          ส่วนการติดไฟหรือโอกาาสในการลุกไหม้จะเกิดขึ้นได้เฉพาะกรณีที่ LNG อยู่ในสถานะก๊าช มีระดับความเข้มข้นในอากาศ
          5-15%
          สภาพแวดล้อมปิด และมีประกายไฟเกิดขึ้นในบริเวณใกล้เคียง เป็นต้น
        </span>
      </div>
    </div>

    <div class="content-1 service-bg">
      <div class="div-content box" [class.animate]="isVisible" #animatedBox>
        <h2 class="c-white">
          ผลิตภัณฑ์ และบริการ
        </h2>
        <span class="c-white">บริการครบ จบที่เดียว One Stop Service</span>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="d-flex row div-group-service">
          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-install.png" alt="" class="service-icon">
                <span class="service-title">
                  ติดตั้ง
                </span>
              </div>
              <span class="service-text">
                บริการรับติดแก๊ส LNG รถบรรทุก
              </span>
            </div>

            <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-maintain.png" alt="" class="service-icon">
                <span class="service-title">
                  ตรวจสภาพ
                </span>
              </div>
              <span class="service-text">
                บริการรับตรวจเช็คสภาพ และซ่อมบำรุงระบบ
              </span>
            </div>

            <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-recomance.png" alt="" class="service-icon">
                <span class="service-title">
                  จดทะเบียน
                </span>
              </div>
              <span class="service-text">
                บริการแนะนำการจดทะเบียน สำหรับรถใช้ก๊าช LNG
              </span>
            </div>

            <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-sale.png" alt="" class="service-icon">
                <span class="service-title">
                  จัดจำหน่าย
                </span>
              </div>
              <span class="service-text">
                บริการจัดจำหน่ายชุดอุปกรณ์ถังก๊าช ชิ้นส่วน และอะไหล่ต่างๆ
              </span>
            </div>

            <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-credit.png" alt="" class="service-icon">
                <span class="service-title">
                  สินเชื่อ
                </span>
              </div>
              <span class="service-text">
                บริการให้คำปรึกษาด้านสินเชื่อสำหรับการติดตั้งแก๊ส
              </span>
            </div>

            <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-course.png" alt="" class="service-icon">
                <span class="service-title">
                  อบรม
                </span>
              </div>
              <span class="service-text">
                บริการคอร์สฝึกอบรมเกี่ยวกับ LNG
              </span>
            </div>

            <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="content-1">
      <div class="div-content">
        <h2 (click)="gotoNewsPage()">
          ข่าวสารและกิจกรรม
        </h2>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="d-flex row">
          <div class="col-12 col-md-6 col-lg-4 d-flex" style="position:relative"
            *ngFor="let i of newsList.slice(0,3); let idx = index;">
            <div class="card-news">
              <div class="div-top-news">
                <div class="div-img-news">
                  <img src="{{i.imageUrl}}" alt="" class="news-img">
                </div>
                <span class="news-title hidden-title">
                  {{i.title}}
                </span>
                <div [innerHTML]="i.description" class="news-text hidden-des"></div>
                <!-- <span class="news-text">
                  {{i.description}}
                </span> -->
              </div>
              <button class="read-news">อ่านเพิ่มเติม <i class="material-icons">arrow_forward</i></button>
            </div>
          </div>

        </div>
      </div>
    </div>






  </div>

</div>

<app-go-to-top></app-go-to-top>
