<app-header></app-header>
<div class="bg-circle"></div>
<div class="main">

  <div class="content-1">
    <div class="bg">
      <div class="div-top">
        <div class="left">
          <img src="./../../../assets/img/logoMain.png" alt="" class="logo">
          <span class="title">We Tech Makers</span>
        </div>
        <div class="right">เนื้อหาฝั่งขวา (ยังคิดไม่ออก)</div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="content-description">
    <div class="article bg-article">
      <h2>
        มาทำความรู้จักกับ LNG หรือ Liquefied Natural Gas คืออะไร?
      </h2>
      <div class="spacer"></div>
      <span>
        LNG คือ ก๊าชธรรมชาติเหลว (Liquefied Natural Gas) ก๊าชธรรมชาติที่ถูกเปลี่ยนสถานะจากก๊าชมาเป็นของเหลว
        ด้วยอุณหภูมิติดลบประมาณ 160-162 °C ทำให้ปริมาณลดลงถึง 600 เท่า
        เพื่อความสะดวกในการขนส่งและเก็บรักษาได้ง่ายขึ้น
      </span>
      <span class="c-article">
        ในปัจจุบันเชื่อเพลิง LNG เป็นพลังงานที่ถูกนำมาใช้งานทั่วโลก
        ทั้งในประเทศที่ผลิตก๊าชธรรมชาติและประเทศที่ต้องนำเข้า
        อีกทั้งยังมีบทบาทสำคัญในการขับเคลื่อนเศรษฐกิจของหลายประเทศ
        ส่วนในประเทศไทยก๊าช LNG เริ่มเป็นที่สนใจและมีการใช้งานมากขึ้น ทั้งเป็นเชื้อเพลิงในการผลิตกระแสไฟฟ้า
        ใช้ในภาคอุตสาหกรรม และใช้เป็นเชื้อเพลิงสำหรับรถยนต์(LNG) ซึ่งส่วนใหญ่ไทยมีการนำเข้า LNG จากต่างประเทศ
        อาทิ เมียนมา กาตาร์ อินโดนีเซีย ออสเตรเลีย เป็นต้น เนื่องจาก LNG ที่ผลิตเองได้จากอ่าวไทยยังไม่เพียงพอ
      </span>
    </div>
    <div class="article">
      <h2>
        คุณสมบัติเด่นของ LNG
      </h2>
      <div class="spacer"></div>
      <li>เป็นเชื้อเพลิงที่มีประสิทธิภาพสูง มีการเผาใหม้ที่สมบูรณ์ ไม่เกิดเขม่า</li>
      <li>เป้นมิตรต่อสิ่งแวดล้อม ลดการปล่อยคาร์บอนไดออกไซต์น้อยกว่า</li>
      <li>ด้วยคุณสมบัติที่เบากว่าอากาศจึงลอยขึ้นและแพร่กระจายในอากาศเมื่อเกิดการรั่วไหล</li>
      <li>ช่วยลดต้นทุนมากกว่าการใช้เชื้อเพลิงปิโตรเลียมอื่น ๆ เช่น น้ำมัน น้ำมันเตา</li>
    </div>

    <div class="article">
      <h2>
        ประโยชน์ของ LNG พลังงานทางเลือกแห่งอนาคต
      </h2>
      <li>LNG มีบทบาทสำคัญในหลายอุตสาหกรรม ซึ่งปัจจุบันประเทศไทยมีการใช้ประโยชน์จาก LNG ทั้งการผลิตกระแสไฟฟ้่า
        ใช้ในภาคอุตสาหกรรม เช่น การผลิตเหล็ก การผลิตปุ๋ย และยังถูกใช้เป็นเชื้อเพลิงสำหรับยานพาหนะ
        เช่น รถบรรทุกในภาคการขนส่ง ที่ใช้ในเชื้อเพลิงดีเซล หรือติดแก๊ส CNG อยู๋แล้ว สามารถเปลี่ยนมาใช้เป็น LNG ได้
        ซึ่งตอบโจทย์มากกว่าทั้งในแง่ของค่าใช้จ่ายที่ลดลงเนื่องจากราคา LNG ถูกเชื้อเพลิงประเภทอื่น
        อีกทั้งการเติมแต่ละรอบใช้เวลาไม่นานประมาณ 10-15 นาที และสามารถวิ่งได้ระยะทางไกลถึง 1,000-1,400 กม.
        จึงช่วยประหยัดเวลาได้มากขึ้น เป็นต้น
      </li>
      <li>
        ข้อดีของ LNG คือเป็น "พลังงานสะอาด" มีประสิทธิภาพสูง ทำให้เครื่องยนต์เกิดการเผาใหม้ที่สมบูรณ์
        เป็นมิตรต่อสิ่งแวดล้อม สามารถใช้แทนน้ำมันดีเซล หรือก๊าช CNGได้ และปลอดภันกว่า เพราะหากเกิดการรั่วไหล LNG
        ซึ่งเบากว่าอากาศจะระเหยเป็นไอและลอยขึ้นสู่ชั้นบรรยากาศอย่างรวดเร็ว โดยไม่เหลือการตกค้างใด ๆในน้ำหรือดิน
        ส่วนการติดไฟหรือโอกาาสในการลุกไหม้จะเกิดขึ้นได้เฉพาะกรณีที่ LNG อยู่ในสถานะก๊าช มีระดับความเข้มข้นในอากาศ 5-15%
        สภาพแวดล้อมปิด และมีประกายไฟเกิดขึ้นในบริเวณใกล้เคียง เป็นต้น
      </li>
    </div>

    <div class="article">
      <h2>
        ทำไมต้อง LNG?
      </h2>
    </div>
  </div>


  <!-- <div class="content-description">
    <span>
      LNG หรือ Liquefied Natural Gas คืออะไร?
    </span>
    <details>
      ถ้าพรรรมชาลทอกท่าให้เย็นองคนถึงอณหภมีประมาณ - 60 ถ.คาเซลเสียส เองปลี่อนสถานะจากถ้าจให้กลายเป็นของเหลา โดย
      กระบวนการนี้ช่วยให้ อดปริมารลงได้ถึงประมาณ 600 เท่า ทำให้การจบส่งและจัดเก็บมีความสะดวกและประหยัดพื้นที่มากยิ่งขึ้
    </details>
  </div> -->



</div>
<app-go-to-top></app-go-to-top>
