<div class="main">
  <!-- <div class="bg-circle"></div> -->

  <div class="bg">
    <div class="content-main">
      <div class="div-top">
        <div class="left">
          <img src="./../../../assets/img/logoMain.png" alt="" class="logo">
          <span class="title">We Tech Makers</span>
        </div>
        <div class="right">เนื้อหาฝั่งขวา (ยังคิดไม่ออก)</div>
      </div>
    </div>
  </div>
  <div class="content">

    <div class="content-1">
      <div class="div-content">
        <div class="row">
          <div class="col-12 ">
            <div class="card-who-we-tech">
              <div class="col-12 col-md-6">
                <div class="div-img">
                  <img src="./../../../assets/img/logoMain.png" alt="">
                </div>
              </div>
              <div class="col-12 col-md-6 text-tab d-flex flex-column">
                <h2>
                  {{ 'whoWeTechMakers' | translate }}
                </h2>
                <div class="spacer"></div>
                <!-- <div [innerHTML]="" class="c-article"></div> -->
                <span class="c-article">
                  {{ 'whoWeTechMakersArticle' | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-1" style="background-color: aliceblue;">
      <div class="div-content">
        <div class="row">
          <div class="col-12">
            <div class="card-who-we-tech">
              <div class="col-12 col-md-6 text-tab d-flex flex-column">
                <h2>
                  {{ 'WhatIsLng' | translate }}
                </h2>
                <div class="spacer"></div>
                <span class="text-tab">
                  {{ 'WhatIsLngArticle1' | translate }}
                </span>
                <span class="c-article text-tab">
                  {{ 'WhatIsLngArticle2' | translate }}
                </span>
              </div>
              <div class="col-12 col-md-6">
                <div class="div-img-what-lng">
                  <img src="./../../../assets/img/lng-mock-2.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-1">
      <!-- <div class="div-content">
        <h2>
          คุณสมบัติเด่นของ LNG
        </h2>
        <div class="spacer"></div>
        <li>เป็นเชื้อเพลิงที่มีประสิทธิภาพสูง มีการเผาใหม้ที่สมบูรณ์ ไม่เกิดเขม่า</li>
        <li>เป้นมิตรต่อสิ่งแวดล้อม ลดการปล่อยคาร์บอนไดออกไซต์น้อยกว่า</li>
        <li>ด้วยคุณสมบัติที่เบากว่าอากาศจึงลอยขึ้นและแพร่กระจายในอากาศเมื่อเกิดการรั่วไหล</li>
        <li>ช่วยลดต้นทุนมากกว่าการใช้เชื้อเพลิงปิโตรเลียมอื่น ๆ เช่น น้ำมัน น้ำมันเตา</li>

      </div> -->

      <div class="div-content">
        <div class="row div-title-why-lng card-who-we-tech">
          <h2>
            {{ 'WhyLng' | translate }}
          </h2>
          <img src="./../../../assets/img/car.png" alt="" class="icon-car">
        </div>
        <div class="spacer"></div>
        <div class="d-flex why-lng-container">
          <div class="card">
            {{ 'WhyLngCard1' | translate }}
          </div>
          <div class="card">
            {{ 'WhyLngCard2' | translate }}
          </div>
          <div class="card">
            {{ 'WhyLngCard3' | translate }}
          </div>
          <div class="card">
            {{ 'WhyLngCard4' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="content-1">
      <div class="div-content">
        <h2>
          {{ 'benefitsOfLng' | translate }}
        </h2>
        <div class="spacer"></div>
        <span class="c-article text-tab">
          {{ 'benefitsOfLngArticle1' | translate }}
        </span>
        <span class="c-article text-tab">
          {{ 'benefitsOfLngArticle2' | translate }}
        </span>
      </div>
    </div>

    <div class="content-2">
      <div class="div-content">
        <div class="row div-title-why-lng">
          <h2 class="c-white">
            {{ 'WhatDdf' | translate }}
          </h2>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="d-flex why-lng-container">
          <span class="c-article text-tab c-white">
            {{ 'WhatDdfArticle1' | translate }}
          </span>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>


        <div class="card-who-we-tech">
          <div class="col-12 col-md-6">
            <div class="div-img-what-lng">
              <img src="./../../../assets/img/ddf-mock.png" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <h2 class="c-white">
              {{ 'advantagesOfDdf' | translate }}
            </h2>
            <div class="spacer"></div>
            <li class="check c-white">{{ 'advantagesOfDdf1' | translate }}</li>
            <li class="check c-white">{{ 'advantagesOfDdf2' | translate }}</li>
            <li class="check c-white">{{ 'advantagesOfDdf3' | translate }}</li>
            <li class="check c-white">{{ 'advantagesOfDdf4' | translate }}</li>
            <li class="check c-white">{{ 'advantagesOfDdf5' | translate }}</li>
            <li class="check c-white">{{ 'advantagesOfDdf6' | translate }}</li>
            <li class="check c-white">{{ 'advantagesOfDdf7' | translate }}</li>
          </div>
        </div>

      </div>
    </div>

    <div class="content-1 service-bg">
      <div class="div-content box" [class.animate]="isVisible" #animatedBox>
        <h2 class="c-white">
          {{ 'productAndService' | translate }}
        </h2>
        <span class="c-white">{{ 'productAndServiceSubtitle' | translate }}</span>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="d-flex row div-group-service">
          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-sale.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle1' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes1' | translate }}
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-install.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle2' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes2' | translate }}
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-maintain.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle3' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes3' | translate }}
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-recomance.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle4' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes4' | translate }}
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-course.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle5' | translate }}
                  อบรม
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes5' | translate }}
                บริการคอร์สฝึกอบรมเกี่ยวกับ LNG
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-credit.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle6' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes6' | translate }}
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

        </div>
      </div>

    </div>

    <div class="content-1">
      <div class="div-content">
        <h2 (click)="gotoNewsPage()">
          {{ 'newsAndEvent' | translate }}
        </h2>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="d-flex row">
          <div class="col-12 col-md-6 col-lg-4 d-flex" style="position:relative"
            *ngFor="let i of newsList.slice(0,3); let idx = index;">
            <div class="card-news">
              <div class="div-top-news">
                <div class="div-img-news">
                  <img src="{{i.imageUrl}}" alt="" class="news-img">
                </div>
                <span class="news-title hidden-title" *ngIf="translate.currentLang === 'th'">
                  {{i.title}}
                </span>
                <span class="news-title hidden-title" *ngIf="translate.currentLang === 'en'">
                  {{i.titleEN}}
                </span>
                <div [innerHTML]="i.description" class="news-text hidden-des" *ngIf="translate.currentLang === 'th'"></div>
                <div [innerHTML]="i.descriptionEN" class="news-text hidden-des" *ngIf="translate.currentLang === 'en'"></div>
              </div>
              <button class="read-news">{{ 'readMore' | translate }} <i class="material-icons">arrow_forward</i></button>
            </div>
          </div>

        </div>
      </div>
    </div>






  </div>
</div>

